<div class="container-nico">
  <div class="row">
    <div id="dayly-word" class="col-xs-12 col-md-8 col-lg-4 word-intro text-center">
      <h4>Le mot du jour est :</h4>
      <h2 id="word"><%= @word.name.capitalize %></h2>
    </div>
  </div>
  <div class="row">
    <div id="quizz" class="col-xs-12 col-md-8 col-lg-6">
      <p>Quelle est la définition du mot <%= @word.name %> ?</p>
      <div id="new-answer-form">
        <%= render "answers/new_form", word: @word, answer: @answer %>
      </div>
    </div>
  </div>

  <div id="word-informations">
    <h5>Merci pour ta participation ! Regardons maintenant les infos récoltées par nos experts sur le mot "<%= @word.name %>" :</h5>

    <div class="row">
      <% if @citations.nil? %>

        <div class="col-12">
          <div class="definition">
            <p class="part-title">Voici la définition du Larousse pour "<%= @word.name %>" :</p>
            <p><%= @word.definition %></p>
          </div>
        </div>

      <% else %>

        <div class="col-xs-12 col-lg-6">
          <div class="definition">
            <p class="part-title">Voici la définition du Larousse pour "<%= @word.name %>" :</p>
            <p><%= @word.definition %></p>
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="citations">
            <p class="part-title text-center">Maintenant on va voir différentes utilisations pour le mot "<%= @word.name %>" !</p>
            <% @citations.each_with_index do |citation, index| %>
              <% if index.odd? %>
                <p class="text-right citation"><%= citation %></p>
              <% else %>
                <p class="citation"><%= citation %></p>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>
